
<div style="margin-top: -150px">

    <div class="row justify-content-md-center text-center">

        <div class="col col-3  bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">

            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>
                Trabajo desde desarrollo, pruebas automaticas.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server

            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET</li>
                <li>ASP.NET Core MVC</li>
                <li>Emtity Framework Core</li>
                <li>Blazor</li>
            </ul>
        </div>

    </div>

</div>