
<div class="text-center">

    <h1 class="display-4">Soy Anderson Sosa</h1>

    <h2>Soy Analista Programador, especializado en tecnologia .NET.</h2>


    <img id="foto"
         src="~/imagenes/Foto.jpg" alto="FotoAnderson" />
</div>



<div class="row justify-content-center text-center bg-primary">

    <div class="col col-md-7 seccion-bienvenida">

        <h1> Les doy la bienvenida a mi Portafolio </h1>

        <p>
            Al momento me encuentro estudiando la carrera de Analista de Sistemas
            en Instituto Bios. Realizando mis propios projecto para poder avanzar
            en la carrera de Analista y ser un mejor profecional.
            Trabajando en las Aplicaciones en C#/ASP.NET, SQL Server, Entity Framework.
        </p>

    </div>
</div>
