
@{
    ViewData["Title"] = "Gracias";
}


<h1>Graacias por ponerte en contracto</h1>
<p>Te contestare a la brevedad.</p>

<div> <a asp-action="Index" asp-controller="Home">Volver al Inicio</a></div>
