@model IEnumerable<Proyecto>


@{
    ViewData["Title"] = "Proyectos";
}



<div class="container">
    <h1> Mis Proyectos</h1>
    <p> Aaqui encontraras mas sobre mis proyectos.</p>

</div>

<partial name="_ListadoProyecto" model="Model" />